@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global */
:root {
    --grayF8F8F8: #F8F8F8;
    --gray7B7B7B: #7B7B7B;
    --black000000: #000000;
    --redDD5350: #DD5350;
    --whiteFFFFFF: #FFFFFF;
    --padding24: 36px;
    --pinkFF3D99: #FF3D99;
    --orangeFFB87D: #FFB87D;
    --grayF9FCFE:#F9FCFE;
    --gray656565: #656565;
    --yellowFFD233: #FFD233;
    --green0FA958: #0FA958;
}

html, body, main {
    padding: 0;
    margin: 0;
    background-color: var(--whiteFFFFFF);
    font-family: 'Poppins';
    scroll-behavior: smooth;
    box-sizing: border-box;
    min-width: 1440px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Color */
.bg-black {
    background-color: var(--black000000);
}

.bg-white {
    background-color: var(--whiteFFFFFF);
}

.fc-black {
    color: var(--black000000) !important;
}

.fc-white {
    color: var(--whiteFFFFFF);
}

.fc-gray7b7b7b {
    color: var(--gray7B7B7B) !important;
}

/* Main */
main {
    padding-top: 80px;
}

main h1 {
    font-style: normal;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.1em;
    color: var(--black000000);
    font-size: 36px;
    margin-bottom: 0;
}

main section h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    text-align: center;
    letter-spacing: 0.1em;
    color: var(--black000000);
}

/* Header */
header {
    position: fixed;
    background: var(--whiteFFFFFF);
    width: 100%;
    z-index: 1000;
}

header div {
    display: flex;
    padding: 32px; 
    justify-content: space-between;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 8px;
    padding-top: 12px;
}

header div a {
    text-decoration: none;
}

header h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 52px;
    padding: 0;
    margin: 0;
    letter-spacing: 0.1em;
    background: linear-gradient(90deg, rgba(255, 61, 153, 0.9025) -52.03%, rgba(255, 184, 125, 0.95) 131.76%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header nav ul {
    padding: 8px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    justify-content: center;
}

header nav ul a {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 0.15em;
    color: var(--black000000);
    text-decoration: none;
    margin: 32px;
    transition: 0.3s;
}

header nav ul a:hover {
    font-weight: 800;
}

/* Banner */

.bg-banner {
    background-image: url("assets/bg-banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    min-height: 1200px !important;
}

.bg-banner-reversed {
    background-image: url("assets/bg-banner-revert.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    min-height: 900px !important;
}

.bg-banner-collection {
    background-image: url("assets/bg-banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    width: 100%;
    min-height: 1000px !important;
}

.banner-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;;
}

.banner-container h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 105px;
    padding: 0;
    width: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.95) -52.03%, #000000 131.76%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
}

.banner-container p {
    color: var(--gray7B7B7B);
    font-size: x-large;
}

.banner-container div {
    padding: 32px 5%;
    width: 50%;
    margin-top: 250px;
}

.banner-container img {
    width: 100%;
    max-height: 600px;
    max-width: 800px;
}

#button-discover {
    padding: 10px 50px;
    border-radius: 15px;
    height: 64px;
    border: none;
    font-weight: 800;
    font-size: x-large;
    background: linear-gradient(90deg, #FF3D99 3.03%, #FFB87D 86.57%);
    color: white;
    cursor: pointer;
    transition: 0.4s;
    background-size: 200%;
    margin-top: 64px;
}

#button-discover:hover {
    background-position: right;
}

/* Categories */
.categories {
    display: flex;
    flex-wrap: wrap;
}

.category {
    flex: 1 0 30%;
    margin: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.category img {
    width: 100%;
    transition: 0.2s;
}

.category img:hover {
    filter: brightness(0.25);
    transform: scale(1.05);
}

.category h4 {
    color: var(--whiteFFFFFF);
    position: absolute;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.1em;
}

/* Collection */
.collection {
    padding: 32px 5%;
}

.collection-wrapper {
    margin-top: 64px;
}

.collection h1 {
    margin-bottom: 16px;
}

.collection-wrapper h1 {
    text-align: left;
    font-size: 40px;
}

.collection-type-section {
    margin-bottom: 96px !important; 
}

.collection-section {
    background-color: var(--grayF9FCFE);
}

.sellers article {
    background: var(--whiteFFFFFF);
    border: 4px solid var(--grayF8F8F8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 24px;
    flex: 1 0 22%;
    transition: 0.3s;
    min-width: 330px;
}

.sellers article:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#search-bar {
    background: var(--whiteFFFFFF);
    border: 4px solid var(--grayF8F8F8);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    transition: 0.3s;
    height: 72px;
    border-radius: 8px;
    width: 100%;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.05em;
    padding: 16px;
    align-items: center;
    justify-content: center;
}

#search-bar::placeholder {
    color: #9F9F9F;
    align-items: center;
    justify-content: center;
}

#search-bar:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#search-bar:focus {
    outline: 0;
}

.collection aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 16px;
    row-gap: 64px;
    padding: 0;
}

.collection-item {
    background: var(--whiteFFFFFF);
    width: 32%;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 16px;
    min-height: 300px;
}

.collection-item:hover {
    transition: 0.3s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.actions { 
    padding: 16px;
}

.actions .action-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.action-top img {
    cursor: pointer;
    transition: 0.3s;
}

.action-top img:hover {
    transform: scale(1.2);
}

.actions .action-bottom {
    display: flex;
    justify-content: end;
    margin-bottom: 48px;
}

.collection .actions img {
    width: 36px;
    height: 36px;
}

.info {
    background-image: url("assets/batik-pattern.png");
    padding: 16px;
}

.info p {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--gray656565);
    text-align: left !important;
    margin-bottom: 4px;
}

.info h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-align: left;
    letter-spacing: 0.05em;
    margin: 0;
}

.info h6 {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: left;
    letter-spacing: 0.05em;
    margin: 0;
}

.info .author-info {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 16px;
}

.author-info {
    margin-top: 16px;
}

.author-info img {
    width: 36px !important;
    height: 36px !important;
}

/* Collection */


/* Insert */

.insert-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 5%;
    flex-wrap: wrap;
}

.insert-section img {
    width: 100%;
}

.insert-container {
    width: 45% !important;
    padding: 32px 2.5%;
}

.insert-container h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
}

.insert-container h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.05em;
    margin-bottom: 8px;

    color: #000000;

    mix-blend-mode: normal;
}

.insert-container input {
    background: var(--whiteFFFFFF);
    border: 4px solid var(--grayF8F8F8);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    transition: 0.3s;
    height: 72px;
    border-radius: 8px;
    width: 100%;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.05em;
    padding: 16px;
    align-items: center;
    justify-content: center;
}

.insert-container input::placeholder {
    color: #9F9F9F;
    align-items: center;
    justify-content: center;
}

.insert-container input:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.insert-container input:focus {
    outline: 0;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 86px;
    height: 46px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--yellowFFD233);
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 34px;
    width: 34px;
    left: 6px;
    bottom: 6px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: var(--green0FA958);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px var(--green0FA958);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(34px);
    -ms-transform: translateX(34px);
    transform: translateX(34px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.checkbox-wrapper h4 {
    margin-left: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.05em;
}

#label-status { 
    color: var(--yellowFFD233);
}

#button-add {
    padding: 10px 50px;
    border-radius: 15px;
    height: 64px;
    border: none;
    font-weight: 800;
    font-size: x-large;
    background: linear-gradient(90deg, #FF3D99 3.03%, #FFB87D 86.57%);
    color: white;
    cursor: pointer;
    transition: 0.4s;
    background-size: 200%;
}

#button-add:hover {
    background-position: right;
}

.button-add-wrapper {
    display: flex;
    justify-content: end;
}

/* Insert */

/* Disclaimer */

.disclaimer-section { 
    text-align: center;
}

.disclaimer-section h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 48px;
    letter-spacing: 0.05em;
}

.disclaimer-section h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 48px;
    letter-spacing: 0.05em;
}

/* Disclaimer */

/* Footer */
footer h3 {
    position: absolute;
    text-align: center;
    width: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 52px;
    text-align: center;
    padding: 0;
    margin: 0;
    letter-spacing: 0.15em;
    background: var(--grayF9FCFE);
}